/* Importing Google Font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300&display=swap');

* {
  background-color: #FFF8E8;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica Neue, sans-serif;
}

/* Main Container */
.container {
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 40px 20px 0 20px;
  }
/* Navigation Bar */
nav {
  background-color: #FFF8E8;
  padding: 20px;
}

.nav__links {
  display: flex;
  justify-content: center;
  list-style: none;
}

.nav__links li {
  margin: 0 15px;
}

.nav__links a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-weight: bold;
}

/* Heading */
.container .heading {
  width: 50%;
  padding-bottom: 50px;
}

.container .heading h3 {
  font-size: 3em;
  font-weight: bolder;
  padding-bottom: 10px;
  border-bottom: 10px solid #FFF8E8;
}

.container .heading h3 span {
  font-weight: 100;
}

/* Boxes for Items */
.container .box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  gap: 20px; /* Adds spacing between items */
}

.container .box .dream {
  display: flex;
  flex-direction: column;
  width: 32.5%;
}

.container .box .dream img {
  width: 100%;
  padding-bottom: 15px;
  border-radius: 5px;
}
@media only screen and (max-width:769px){ 

}